
/* Mobile */
@media (max-width:46.1875em) {  
  .ppb_title_best_value, .ppb_title_choose_us, .ppb_title_trips, .ppb_title_popular {
    font-size: 28px;
    text-transform: none;
    letter-spacing: 0px;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-weight: 700;
  }

  .ppb_title_choose_us, .ppb_title_trips, .ppb_title_best_value{
    margin-top: 60px;
  }

  .hover_article {
    margin-bottom: 0px;
}
}


