select {
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

input {border:0;outline:0;}
input:focus {outline:none!important;}
