
hr{
  width: 87%;
  margin: auto;
}


.col-md-6, .col-xs-12 {
  padding-right: 14px !important;
  padding-left: 14px !important;
  margin-bottom: 8px;
}

.offcanvas-body {
  overflow-y: unset !important;
}

#header{
  position: relative;
  .logo_align{
    display: flex;
    justify-content: space-between;
  }
}

.navbar-toggler {
  color: #fff;
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  background-color: transparent;
  border: none !important;
}

i.fa-solid.fa-chevron-down {
  font-size: 10px;
  color: #ffffff;
  margin-right: 13px;
}

i.fa-solid.fa-cart-shopping{
  color: #ffffff;
  font-size: 12px;
}
.tour_advance_search_wrapper_link{
  margin-top: -46px !important;
}

#tour_advance_search_toggle{
  font-size: 13px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-left: 8px;
}

.navbar-toggler-icon{
  background-color: #ffffff;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: #fff;
}

.fixed-top {
  position: none;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  float: right !important;
}

#custom_logo_transparent{
  line-height: 74px;
}

.one.withsmallpadding {
  padding: 30px 0 30px 0;
  float: left;
  width: 100%;
}
.one.withbg {
  background-size: cover;
  background-position: center center;
}

.ppb_wrapper .withbg .overlay_background, #page_caption.hasbg .overlay_background {
  background-color: rgba(0,0,0,.2);
  z-index: 1;
  visibility: visible;
  opacity: 1;
  position: absolute;
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.center_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.standard_wrapper{
  margin-bottom: 30px;
}

.center_wrapper .inner_content .standard_wrapper {
  text-align: center;
}

h2.ppb_title {
  font-size: 36px;
  text-transform: none;
  letter-spacing: 0px;
  font-family: Poppins, Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.page_tagline, .post_header .post_detail, .recent_post_detail, .post_detail, .thumb_content span, .portfolio_desc .portfolio_excerpt, .testimonial_customer_position, .testimonial_customer_company {
  letter-spacing: 0px;
  text-transform: none;
}

.page_tagline {
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: none;
  font-size: 15px;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  width: auto;
  display: inline-block;
  margin: auto;
  float: none;
}

.withbg #tour_search_form.tour_search_form {
  border: 0;
  box-shadow: 0 0 0 0;
}

.withbg #tour_search_form, .withbg .tour_search_form {
  background: transparent!important;
}

#tour_search_form {
  margin-top: 0px;
}

.form{
  margin-top: 15px;
}

.themeborder {
  border-radius: 5px;
  background-color: #fff;
}

#tour_search_btn {
  width: 100%;
  background-color: #FF4A52;
}

.themeborder input, .month, .sort_by{
  border: none;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  border: 1px solid transparent;
  width: calc(100% - 30px);
  border: 0px solid;
  border-radius: 4px;
  background-color: #ffffff;
}

.fa-magnifying-glass:before, .fa-search:before {
  content: "\f002";
  color: #b1abab;
}

.fa-regular, .far {
  font-weight: 400;
  color: #b1abab;
}

.fa-arrow-right-arrow-left {
  font-weight: 900;
  color: #b1abab;
}

#tour_search_form .one_fourth>span, .tour_search_form .one_fourth>span {
  opacity: .5;
  line-height: 1;
  color: #000;
  position: relative;
  top: 2px;
  right: 5px;
}

.ti-search:before {
  content: "\e610";
}

#tour_search_btn{
  background-color: #FF4A52;
  color: #fff;
}

#tour_search_btn:hover{
  background-color: #1EC6B6;
}

.offcanvas-header {
  display: flex;
  padding: 24px !important;
  flex-direction: row-reverse !important;
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
}

.nav-item .nav-link{
  font-size: 24px;
  font-weight: 700;
  line-height: 12px;
  color: #000000;
  text-decoration: none;
}

.btn-close{
  border-radius: 50% !important;
  background-color: red !important;
  padding: 17px !important;
  font-size: 12px;
}

video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
}

.advanced{
  display: flex;
  margin-left: 13px;
}

#advanced_search{
  cursor: pointer;
}

.advanced i{
  line-height: 21px;
}

.advanced p{
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  margin-left: -4px;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0;
}

#nav{
  line-height: 74px;
}

.subnav_final{
  display: flex;
  margin-left: -78px;
  margin-bottom: -1px;
}

.nav>li{
  float: left;
  // margin-right: 15px;
}

.nav>li>a{
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 22.1px;
  font-family: Poppins, Helvetica, Arial, sans-serif;
}

.nav li{
  position: relative;
  list-style:none;
}

.nav li a{
  padding: 10px;
  line-height: 20px;
  display: inline-block;
}

.nav>li>a:hover {
  background-color: 0 !important;
}

.nav .sub-menu{
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  background-color: #ffffff;
  padding: 5px 20px;
  border-radius: 8px;
  width: 280px;
  margin-top: 27px;
}

.nav .sub-menu li{
  border-bottom: 1px solid #ccc;
  line-height: 25px;
}

.nav .sub-menu li a{
  color: #313131;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 22.1px;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  text-decoration: none;
  width: 90%;
}

.nav > li > a:hover {
  background-color: unset;
}

.nav .sub-menu li .fa-solid.fa-chevron-right{
  color: #ccc;
}

.nav li:hover>.sub-menu{
  display: block;
}

.nav>li>.sub-menu{
  top: 40px;
  left: 0;
}

.count_cart{
  position: absolute;
  right: 73px;
  top: 19%;
  margin-left: -10px;
  line-height: 8px;
}

#click_advanced{
  display: none;
}

.mystyle{
  display: block !important;
}

#offcanvasNavbar{
  overflow-y: scroll;
  overflow-x: hidden;
}

.btn-close {
  background: transparent url(https://www.shareicon.net/data/128x128/2016/07/10/119646_close_512x512.png) center/1em auto no-repeat;
  font-size: 50px;
  background-color: white !important;
}


.navbar-nav.justify-content-end{
  margin-left: 35px; 
  margin-right: 8px;
}