/* Mobile */
@media (max-width:46.1875em) {  
  .hidden_mobile{
    display: none !important;
  }

  .show_mobile{
      display: block;
  }

  #nav{
    right: 0;
    position: absolute;
    top: -162%;
  }

  #option_btn{
    display: none;
  }
}
