/* Mobile */
@media (max-width:46.1875em) {  
  .hidden_mobile{
    display: none !important;
  }

  .show_mobile{
      display: block;
  }

  #nav{
    right: 0;
    position: absolute;
    top: -162%;
  }

  #option_btn{
    display: none;
  }

  .subnav_final{
    float: right;
    position: absolute;
    right: 10px;
    line-height: 74px;
    top: -71px;
  }

  .count_cart{
    right: 0px !important;
    position: absolute;
    right: -6px;
    top: 22%;
    margin-right: -7px;
  }
}
