

/* Mobile */
@media (max-width:46.1875em) {  
  .menu-footer-menu-container {
    float: inline-start;
  }

  .row{
    display: flex !important;
    flex-direction: column-reverse !important;
  }

  .col-md-6, .col-xs-12 {
    padding-right: 14px!important;
    padding-left: 14px!important;
    margin-bottom: 8px;
    width: 100% !important;
  }

  .col-md-6 {
    line-height: 60px !important;
    height: 33px !important;
  }

  #copyright{
    text-align: center !important;
  }
}
