

/* Mobile */
@media (max-width:46.1875em) {  
  .menu-footer-menu-container {
    float: inline-start;
  }
  .col-md-6 {
    line-height: 60px !important;
    height: 33px !important;
  }
}
