#myBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #1EC6B6;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  height: 50px;
  width: 50px;
}

#myBtn:hover {
  background-color: #555;
}

.fa-solid.fa-angle-up {
  color: #ffffff;

}